*{margin: 0;padding: 0;}
/*a{text-decoration:none;}*/
a:hover {text-decoration: none;}
.logo1{height: 92px;
background: linear-gradient(to right,#e2e2e2,#f6f6f6)}
.logo_img{width: 113px;height: 92px;
margin: 0 auto}
.logo2{
    height: 58px;
    background: #f3f3f3;
	list-style: none;
    width: 100%;
    text-align: justify;
    font-size: 0;
} 
.logo2 span{ 
  font-size: 13px;
  width:16.66%;
  color: black;
  display: inline-block;
  text-align:center;
} 
#d1{
    float: left;
	overflow:hidden;
}
#d1 img{
		transition: all 2s ease 0s;
	}
#d1 img:hover{
		transform: scale(1.2);
		/*transition: all 2s ease-in-out 0s;*/
	}
.d_foot{width: 100%;
    float: left;
margin-top:50px;
border-top: 1px solid #7c7c7c
}
.d_foot div{
    text-align: center;
}
.d_foot ul li{list-style-type:none ;}
.d_foot1 li {
    margin: 5px;
    float: none;
    color: #7c7c7c;
    font-size: 13px;
}
.d_foot1_li {
    color: #575757 !important;
    font-size: 16px !important;
}
.d_foot2{
    width: 100%;
    border-top: 1px solid #7c7c7c;
}
.d_foot2_1{
    margin: 10px auto;
}
.d_foot2_1 li{
    display: inline;
    text-align: center;
}
.d_foot2_1 a {
    font-size: 13px;
    color: #575757 !important;
}
.d_foot2_1 p{
    font-size: 13px;
    color: #575757 !important;
}

